/* Navigation Bar Start*/

* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
nav {
    display: flex;
    background-color: white;
    height: 50px;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    height: 100%;
    gap: 20px;
}
nav ul li {
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul img {
    width: 120px;
    margin-left: 20px;
    margin-top: 10px;
    object-fit: contain;
}
.right-button button a {
    text-decoration: none;
    color: black;
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
    margin-right: 70px;
}
.right-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
    margin-right: 30px;
    width: 100%;
}
.right-button button {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
}

h1 {
   margin-top: 100px;
margin-bottom: 50px;
text-align: center;
}

/* Navigation Bar End */

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

label{
    font-size: large;
    font-weight: bold;
}

input{
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
}

.Form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container{
    width: 30%;
    height: 80%;
}

.container h1{
    color: black;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 65px;
}

.Project-name{
    display: flex;
    flex-direction: column;
}

.Date-container{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.Date-container div{
    display: flex;
    width: 48%;
    flex-direction: column;
}

.Descripton-container{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.Descripton-container textarea{
    background-color: lightgrey;
    border-radius: 10px;
    margin-top: 5px;
    resize: none;
    border: 2px rgb(65, 63, 63) solid;
    height: 200px;
    padding: 5px;
}

.checkbox{
    margin-top: 15px;
}

.checkbox-group {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.checkbox-group div{
    display: flex;
} 

.checkbox-group div label{
    margin-top: 5px;
    color: black;
}

.checkbox-group div input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.Upload-Image{
    margin-top: 15px;
}

.label-image label {
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.label-image label p {
    padding: 10px;
    border-radius: 10px;
    background-color: grey;
    color: black;
}

.label-image label i {
    font-size: 20px;
    margin-right: 10px;
}

.Form-container button {
    font-size: medium;
    font-weight: bold;
    margin-top: 25px;
    background-color: grey;
    color: black;
    width: 100px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    margin-left: 22.5%;
}

.Form-container p:hover {
    background-color: lightgrey;
}

.Form-container button:hover{
    background-color: lightgrey;
}

/* Form End */

hr {
border: 2px solid gray;
}

